{
  "presets": ["env", "react"],
  "plugins": [
    [
      "react-css-modules",
      {
        "webpackHotModuleReloading": true,
        "filetypes": {
          ".scss": {
            "syntax": "postcss-scss"
          }
        },
        "generateScopedName": "[name]__[local]__[hash:base64:5]"
      }
    ]
  ]
}